/* GOOGLE FONT LINK */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

/*  BODY CSS */
body{
    font-family: Montserrat, sans-serif;
    line-height: 1.4;
}

img{
    border-radius: 0.7rem;
    width: 200px;
    display: block;
    box-shadow: 0px 0px 30px 0px rgba(black, 0.3);
}

.secGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 0 4rem;
}

.leftContainer,
.rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridText {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    height: 100%;
}
.gridText h3{
    font-size: 2.4rem;
    margin: 0;
}
.gridImage {
    position: fixed;
    z-index: 100;
}

.img1,
.img2,
.img3 {
    opacity: 0;
}
.img1.active,
.img2.active,
.img3.active {
    -webkit-animation: fadeIn 1000ms ease forwards;
            animation: fadeIn 1000ms ease forwards;
    opacity: 1;
}
footer{
    text-align: center;
    padding: 1.2rem 0;
    color: #555;
    font-size: 0.8rem;
}
footer span a{
    font-weight: bolder;
    
}
/* CSS ANIMATION */
@-webkit-keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

/* MEDIA QUERY */
@media (min-width: 700px) {
    img {
      width: 400px;
    }
  }
@media (min-width: 1000px) {
    img {
        width: 600px;
    }
}